@import "../../styles/global.scss";

.account-panel {
  display: flex;
  min-height: calc(100vh - 6.4rem);
  &__menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 3rem 6rem;
  }
  &__main {
    padding: 3rem 6rem 3rem 3rem;
    width: 80%;
    background-color: $account-gray-bg;
  }
}
