@import "../../styles/global.scss";

.button {
  cursor: pointer;
  padding: 0.8rem 3rem;
  border: 2px solid $pink;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 4rem auto;
  display: flex;

  &:hover {
    background-color: $pink;
  }
}
