@import "../../styles/global.scss";

.poetry-soul {
  position: relative;
  min-height: calc(100vh - 6rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  @include breakpoint(tablet) {
    display: flex;
    flex-direction: row;
  }

  .poetry {
    &__column {
      padding: 6rem 3rem;
      width: auto;
      background-color: $light-gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(tablet) {
        width: 50%;
      }
      @include breakpoint(desktop) {
        padding: 6rem 3rem 6rem 6rem;
      }
    }
    &__heading {
      color: $gray-text-color;
      font-size: 7vw;
      font-weight: 300;
      width: min-content;
      text-align: start;
    }
    &__heading-image {
      display: flex;
      justify-content: start;
    }
    &__image {
      display: none;
      @include breakpoint(desktop) {
        display: block;
        width: 8vw;
        object-fit: contain;
        mix-blend-mode: darken;
      }
    }
    &__text {
      text-align: end;

      span {
        display: flex;
        justify-content: end;
      }
    }
  }
  .soul {
    &__column {
      padding: 6rem 3rem;
      width: auto;
      background-color: $dark-gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include breakpoint(tablet) {
        width: 50%;
      }
      @include breakpoint(desktop) {
        padding: 6rem 6rem 6rem 3rem;
      }
    }
    &__heading {
      color: $light-text-color;
      font-size: 7vw;
      font-weight: 300;
      width: min-content;
      text-align: end;
    }
    &__heading-image {
      display: flex;
      align-items: end;
      flex-direction: column;
    }
    &__image {
      display: none;
      @include breakpoint(desktop) {
        display: block;
        width: 15vw;
        object-fit: contain;
        mix-blend-mode: darken;
      }
    }
    &__text {
      span {
        display: flex;
        justify-content: start;
      }
    }
  }
}
