@font-face {
  font-family: "Gilda Display";
  src: url("/src/assets/fonts/GildaDisplay-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Licorice";
  src: url("/src/assets/fonts/Licorice-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
