$black: #13182c;
$white: #ffffff;
$pink: #f1e0e0;
$dark-pink: #d1a6a6;
$red: #ff0707;
$dark-gray: #c7c7c7;
$light-gray: #dfdfdf;

$account-gray-bg: #f9f9f9;
$gray-text-color: #929292;
$light-text-color: #efefef;
$footer-bg: #d9d9d9;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
