@import "../../styles/global.scss";

.hero {
  position: relative;
  min-height: calc(100vh - 12.276rem);
  height: 100%;

  &__heading {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12vw;
    &--second {
      margin-top: 4rem;
      text-align: end;
      @include breakpoint(tablet) {
        padding-left: 5vw;
        text-align: initial;
      }
    }
    @include breakpoint(tablet) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
    @include breakpoint(desktop) {
      font-size: 8rem;
      letter-spacing: 4.6rem;
      line-height: 7rem;
    }
  }
  &__image-item {
    display: none;
    @include breakpoint(tablet) {
      display: block;
    }
    &--bottom {
      img {
        width: 25rem;
        margin-top: 4rem;
        @include breakpoint(desktop) {
          margin-top: 0;
          width: 30rem;
        }
      }
    }

    &--top {
      z-index: 1;
      bottom: 0;
      left: -15vw;
      position: absolute;
      img {
        display: none;
        @include breakpoint(desktop) {
          display: block;
          width: 18vw;
        }
      }
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    left: 0;
    span {
      display: block;
    }
  }
  &__image-stack {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
