@import "../../../styles/global.scss";
.all-users {
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }

  table {
    border: 0;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
    border: 1px solid $light-gray;

    caption {
      font-size: 1.3em;
      margin: 0.5em 0;
    }

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid $dark-pink;
      display: block;
      margin-bottom: 0.625em;
      &:last-child {
        border-bottom: 0;
      }
    }

    td {
      border-bottom: 1px solid $pink;
      display: block;
      font-size: 0.8em;
      text-align: right;
      position: relative;
      padding-left: 50%;
    }

    td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 45%;
      padding-left: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }

  @include breakpoint(desktop) {
    table {
      table-layout: auto;
      border-collapse: collapse;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
      padding: 1rem;

      caption {
        font-size: 1.5em;
        margin: 0.5em 0;
      }

      thead {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: auto;
        position: static;
        width: 100%;
        display: table-header-group;
        background-color: $dark-pink;
      }

      th {
        text-align: start;
        padding: 1rem;
      }
      tr {
        display: table-row;
        border-bottom: none;
        margin-bottom: 0;
      }

      td {
        display: table-cell;
        text-align: left;
        font-size: 16px;
        padding: 12px;
        position: static;
        border-bottom: none;
        padding-left: 0;
        padding: 1rem;
      }

      td::before {
        display: none;
      }
    }
  }
}
