@import "./partials/media";
@import "./partials/mixins";
@import "./partials/variables";
@import "./partials/typography";

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $white;
  font-family: "Gilda Display", sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0;
  font-weight: 300;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

button,
input,
textarea,
select {
  font-family: "Gilda Display", sans-serif;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $black;
}

.quote-text {
  font-family: "Licorice", sans-serif;
}
