@import "../../styles/global.scss";

.page-heading {
  font-size: 3rem;
  margin: 0 auto;
  padding-top: 2rem;
  @include breakpoint(tablet) {
    font-size: 5rem;
    width: 30rem;
  }
  &__content {
    font-size: 3rem;
    @include breakpoint(tablet) {
      font-size: 5rem;
    }
    &--second {
      text-align: end;
    }
  }
  &__border-bottom {
    border-bottom: 0.3rem solid $pink;
    text-decoration-skip: ink;
  }
}
