@import "../../styles/global.scss";

.footer {
  background-color: $footer-bg;
  padding: 3rem;
  @include breakpoint(desktop) {
    padding: 3rem 6rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .menu {
    flex-direction: column;
    align-items: normal;
    gap: 2rem;
    &__link {
      &--login {
        background-color: transparent;
        padding: 0;
      }
    }
  }
  .logo {
    &__image {
      margin: 2rem 0;
      mix-blend-mode: darken;
      @include breakpoint(tablet) {
        margin: 0;
      }
    }
  }
  &__copyright {
    text-align: center;
  }
}
