@import "../../styles/global.scss";

.about {
  padding: 0 3rem 3rem 3rem;
  min-height: calc(100vh - 14.5rem);
  position: relative;
  margin-top: 2rem;
  @include breakpoint(tablet) {
    padding: 0 6rem 6rem 6rem;
  }

  &__heading {
    font-size: 3rem;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, $black 8%, transparent 13%) 100% 1;
    @include breakpoint(tablet) {
      font-size: 4rem;
    }
  }
  &__question {
    margin: 2rem 0;
  }
  &__paragraph {
    display: block;
    line-height: 2rem;
    margin-bottom: 1rem;
    &:first-child {
      @include breakpoint(tablet) {
        width: 70%;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__signature {
    text-align: end;
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  &__image {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      position: absolute;
      top: 0;
      right: 6rem;
      width: 18rem;
    }
  }
}
